<a href="https://colab.research.google.com/github/Karem1986/LetsPython/blob/main/Avomecajo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Avocado prijzen

Je hebt een dataset over de prijzen van avocado's. De belangrijkste kolommen voor deze exercise zijn 'Date' en 'AveragePrice'. Je wilt de data verrijken met de inhoud van de 'Date'-feature. Je kunt bijvoorbeeld de dag, de maand en het jaar uit het datetime object halen. Vervolgens ga je de avocadoprijzen analyseren.

## File upload
door het importeren van google colab files, is het mogelijk om een file in de notebook te importeren.

In [1]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

### CSV bestaand lezen naar een dataframe

Laad het bestand in een Pandas dataframe. Zet het argument index_col op 'index'.

In [2]:
import pandas as pd

# Load the dataset into a pandas dataframe
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/avocado_prices.csv')

### Casting

Cast de kolom 'Date' naar het datatype datetime.

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  datetime64[ns]
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   Total Bags    18249 non-null  float64
 4   type          18249 non-null  object
 5   region        18249 non-null  object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 855.5+ KB

### Maand en Jaar

Voeg maand en jaar toe als kolommen aan je dataframe.

In [11]:
df['Month'] = df['Date'].dt.month_name()
df['Year'] = df['Date'].dt.year

### Avocado's gemiddelde prijs

Bereken de gemiddelde avocadoprijs per maand. In welke maand zijn avocado's het duurst? Sorteer de prijzen van laag naar hoog.

In [15]:
# Calculate the average avocado price per month and round to 2 decimals
average_price_per_month = df.groupby('Month')['AveragePrice'].mean().round(2).sort_values()

# Create a table for AveragePrice per Month
table_monthly_prices = pd.DataFrame({'Month': average_price_per_month.index, 'AveragePrice': average_price_per_month.values})

# Print the table
print(table_monthly_prices)

        Month  AveragePrice
0    February          1.27
1     January          1.31
2    December          1.33
3       March          1.33
4         May          1.35
5       April          1.37
6        June          1.41
7        July          1.46
8    November          1.46
9      August          1.51
10  September          1.57
11    October          1.58

### Avocados gemiddelde prijs - Jaar

Bereken de gemiddelde avocadoprijs per jaar. In welk jaar waren avocado's het duurst? Sorteer de prijzen van laag naar hoog.

In [16]:
# Calculate the average avocado price per year and round to 2 decimals
average_price_per_year = df.groupby('Year')['AveragePrice'].mean().round(2).sort_values()

# Create a table for AveragePrice per Year
table_yearly_prices = pd.DataFrame({'Year': average_price_per_year.index, 'AveragePrice': average_price_per_year.values})

# Print the table
print(table_yearly_prices)

   Year  AveragePrice
0  2016          1.34
1  2018          1.35
2  2015          1.38
3  2017          1.52