<a href="https://colab.research.google.com/github/Karem1986/LetsPython/blob/main/calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Calculator

We gaan een programma maken dat twee getallen met elkaar vermenigvuldigt.

We are going to create a program that multiplies two numbers.

In [2]:
# lengte = '8'
# breedte = '6'
lengte = 8
breedte = 6
# print(type(lengte))
# print(type(breedte))
print("area: ", lengte * breedte)

area:  48

### Floats in Python

In Python schrijf je floats niet met een komma, maar met een punt (zoals in de meeste Engelstalige landen wordt gedaan). We kunnen ook de float() functie gebruiken om een string om te zetten naar een float, net zoals met int()

In [4]:
lengte = '8.5'
breedte = '6.7'
print(type(lengte))
print(type(breedte))

<class 'str'>
<class 'str'>

### Bereken de oppervlaakte

Bereken daarna de oppervlakte in het notebook. Je mag de bovenstaande code niet aanpassen. Je zult dus de datatypen van lengte en breedte moeten aanpassen. De oppervlakte bereken je door de lengte met de breedte te vermenigvuldigen.

In [11]:
lengte = '8.5'
breedte = '6.7'
print("area: ", float(lengte) * float(breedte))

area:  56.95

### Divide and Conquer

Delen door 0, dat mag niet in Python!

In [6]:
kosten = 10
aantal_personen = 0
kosten_per_person = kosten / aantal_personen
print(kosten_per_person)

ZeroDivisionError: ignored

### Shortcut to divide by 0

Je kunt twee waardes met elkaar vergelijken door middel van ==. De uitkomst daarvan noemen we een boolean, en kan True of False zijn.

In [10]:
kosten = 10
aantal_personen = 0

if aantal_personen == 0:
  print("Kan niet delen door 0")
else:
  kosten_per_person = kosten / aantal_personen
  print(kosten_per_person)

Kan niet delen door 0

### Een werkende rekenmachine

De rekenmachine kan uiteindelijk een simpele berekening doen met twee getallen

In [21]:
# De input wordt automatisch omgezet naar een string.

eerste_getal = input(str("Type first number "))
twede_getal = input(str("Type second number "))

#  Zorg dat de twee ingevoerde getallen naar een float omgezet worden.

eerste_getal_float = float(eerste_getal)
print(type(eerste_getal_float))
twede_getal_float = float(twede_getal)
print(type(twede_getal_float))

# Vraag welke berekening de gebruiker wil doen door het invoeren van een +, -, * of /

vraag_berekening = input("welke berekening wil je doen: +, - , * of /  " )
print(vraag_berekening)

Type first number 1
Type second number 2
<class 'float'>
<class 'float'>
welke berekening wil je doen: +, - , * of /  /
/

### Taking it further

Bouw je rekenmachine verder af. De gebruiker kan input geven (twee getallen en een operator). Zorg nu dat de juiste berekening wordt gemaakt.

In [1]:
# De input wordt automatisch omgezet naar een string.

eerste_getal = input(str("Type first number "))
twede_getal = input(str("Type second number "))

#  Zorg dat de twee ingevoerde getallen naar een float omgezet worden.

eerste_getal_float = float(eerste_getal)
print(type(eerste_getal_float))
twede_getal_float = float(twede_getal)
print(type(twede_getal_float))

# Vraag welke berekening de gebruiker wil doen door het invoeren van een +, -, * of /

vraag_berekening = input("welke berekening wil je doen: +, - , * of / , ofwel : " )

print(vraag_berekening)

if vraag_berekening == "+":
   sum = eerste_getal_float + twede_getal_float
   print(sum)
if vraag_berekening == "-":
   minus = eerste_getal_float - twede_getal_float
   print(minus)
if vraag_berekening == "*":
   mult = eerste_getal_float * twede_getal_float
   print(mult)
if vraag_berekening == "/":
   if eerste_getal_float == 0 or twede_getal_float == 0:
    print("Kan niet delen door 0")
   else:
    delen = eerste_getal_float / twede_getal_float
    print(delen)
print("End")

Type first number 8
Type second number 4
<class 'float'>
<class 'float'>
welke berekening wil je doen: +, - , * of /  :
:
2.0
End

### Check valid operator

Check met behulp van Membership Operators of de ingevoerde operator ongeldig is. Als dat het geval is, kan je niet een berekening uitvoeren en moet het programma dus stoppen.

In [2]:
# De input wordt automatisch omgezet naar een string.

eerste_getal = input(str("Type first number "))
twede_getal = input(str("Type second number "))

#  Zorg dat de twee ingevoerde getallen naar een float omgezet worden.

eerste_getal_float = float(eerste_getal)
print(type(eerste_getal_float))
twede_getal_float = float(twede_getal)
print(type(twede_getal_float))

# Vraag welke berekening de gebruiker wil doen door het invoeren van een +, -, * of /

vraag_berekening = input("welke berekening wil je doen: +, - , * of / , ofwel : " )

print(vraag_berekening)

if vraag_berekening == "+":
   sum = eerste_getal_float + twede_getal_float
   print(sum)
if vraag_berekening == "-":
   minus = eerste_getal_float - twede_getal_float
   print(minus)
if vraag_berekening == "*":
   mult = eerste_getal_float * twede_getal_float
   print(mult)
if vraag_berekening == "/" or vraag_berekening == ":":
   if eerste_getal_float == 0 or twede_getal_float == 0:
    print("Kan niet delen door 0")
   else:
    delen = eerste_getal_float / twede_getal_float
    print(delen)
else:
   print("Choose a valid operator to perform the calculation")
print("Program Ends")

Type first number 16
Type second number 4
<class 'float'>
<class 'float'>
welke berekening wil je doen: +, - , * of / , ofwel : %
%
Choose a valid operator to perform the calculation
End

### Try and except

Controleer in je programma of de gekozen getallen kunnen worden omgezet in floats. Alleen als alle invoer goed is wordt de uitkomst van de berekening weergegeven.

In [5]:

try:

  # De input wordt automatisch omgezet naar een string.
  eerste_getal = input(str("Type first number "))
  twede_getal = input(str("Type second number "))

#  Zorg dat de twee ingevoerde getallen naar een float omgezet worden.

  eerste_getal_float = float(eerste_getal)
  print(type(eerste_getal_float))
  twede_getal_float = float(twede_getal)
  print(type(twede_getal_float))

# Vraag welke berekening de gebruiker wil doen door het invoeren van een +, -, * of /

  vraag_berekening = input("welke berekening wil je doen: +, - , * of / , ofwel : " )
  print(vraag_berekening)

  if vraag_berekening == "+":
   sum = eerste_getal_float + twede_getal_float
   print(sum)
  if vraag_berekening == "-":
   minus = eerste_getal_float - twede_getal_float
   print(minus)
  if vraag_berekening == "*":
   mult = eerste_getal_float * twede_getal_float
   print(mult)
  if vraag_berekening == "/" or vraag_berekening == ":":
    if eerste_getal_float == 0 or twede_getal_float == 0:
       print("Kan niet delen door 0")
    else:
       delen = eerste_getal_float / twede_getal_float
    print(delen)
  else:
   print("Choose a valid operator to perform the calculation")

except:
  print("An exception occurred")


# print("Program Ends")

Type first number 8
Type second number 5,9
<class 'float'>
An exception occurred