<a href="https://colab.research.google.com/github/Karem1986/LetsPython/blob/main/imdb_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data cleaning-Duplicates verwijderen

In deze exercise ga je werken met een filmdataset van IMDb. Soms komt het voor in een dataset dat een datapunt door een fout twee keer of zelfs meerdere keren voorkomt. Dit geeft een verkeerd beeld van de werkelijkheid en daarom wil je deze duplicates verwijderen.

## File upload
door het importeren van google colab files, is het mogelijk om een file in de notebook te importeren.

In [1]:
import pandas as pd
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

### CSV bestaand lezen naar een dataframe

Laad het bestand in een Pandas dataframe. Zet het argument index_col op 'index'.

In [12]:
import pandas as pd

# Load the dataset into a pandas dataframe with index column set to 'index'
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/IMDB_films.csv', index_col='index')

### Het aantal rijen

Print het aantal rijen. Hoeveel datapunten heb je?

In [13]:
original_rows = len(df)
print(f"Oorspronkelijke datapunten:: {original_rows}")

Oorspronkelijke datapunten:: 21782

### Verwijder dubbele rijen.

Met de pandas functie drop_duplicates.

In [14]:
# Remove duplicate rows
df = df.drop_duplicates()

df

,title,year,date_published,genre,duration,language,description,reviews_from_users,reviews_from_critics
index,,,,,,,,,
0,Miss Jerry,1894,1894-10-09,Romance,45,None,The adventures of a female reporter in the 1890s.,1.0,2.0
2,Den sorte drøm,1911,1911-08-19,Drama,53,NaN,Two men of high rank are both wooing the beaut...,5.0,2.0
9,Richard III,1912,1912-10-15,Drama,55,English,Richard of Gloucester uses manipulation and mu...,8.0,1.0
10,Atlantis,1913,1913-12-26,Drama,121,Danish,After Dr. Friedrich's wife becomes mentally un...,9.0,9.0
12,Il calvario di una madre,1913,1915-10-18,Drama,96,NaN,Single mother is separated from her children d...,16.0,7.0
...,...,...,...,...,...,...,...,...,...
85847,Ottam,2019,2019-03-08,Drama,120,Malayalam,"Set in Trivandrum, the story of Ottam unfolds ...",1.0,NaN
85848,Pengalila,2019,2019-03-08,Drama,111,Malayalam,An unusual bond between a sixty year old Dalit...,NaN,NaN
85850,Le lion,2020,2020-01-29,Comedy,95,French,A psychiatric hospital patient pretends to be ...,NaN,4.0
85852,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,Malayalam,NaN,NaN,NaN
85854,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Catalan,"Pep, a 13-year-old boy, is in love with a girl...",NaN,2.0

### Het aantal overgebleven datapunten

Print het aantal overgebleven datapunten.

In [15]:
# Print the number of remaining datapoints
remaining_rows = len(df)
print(f"Remaining datapoints after removing duplicates: {remaining_rows}")

Remaining datapoints after removing duplicates: 21770

### Hoeveel duplicates

Hoeveel duplicates zaten er in de data?

In [16]:
# Calculate the number of duplicates 21782 21770
duplicates_removed = original_rows - remaining_rows
print(f"Duplicates: {duplicates_removed}")

Duplicates: 12